<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <!-- Everything here is ENU frame -->

  <xacro:property name="dvl" value="${config['dvl']}"/>

  <!-- DVL  -->
  <!-- TODO: restore below if when xacro releases 1.14.4 -->
  <!-- <xacro:if value="${'dvl' in config}"> -->
    <xacro:property name="dvl" value="${config['dvl']}"/>
    <xacro:dvl_plugin_macro
      namespace="${namespace}" 
      suffix=""
      parent_link="${namespace}/origin">
      <origin xyz="${dvl['pose'][0]} ${dvl['pose'][1]} ${dvl['pose'][2]}" 
              rpy="${dvl['pose'][3]} ${dvl['pose'][4]} ${dvl['pose'][5]}"/>
    </xacro:dvl_plugin_macro>
  <!-- </xacro:if> -->

  <!-- Pressure  -->
  <!-- TODO: restore below if when xacro releases 1.14.4 -->
  <!-- <xacro:if value="${'depth' in config}"> -->
    <xacro:property name="depth" value="${config['depth']}"/>
    <xacro:pressure_plugin_macro
      namespace="${namespace}"
      suffix=""
      parent_link="${namespace}/origin">
      <origin xyz="${depth['pose'][0]} ${depth['pose'][1]} ${depth['pose'][2]}" 
              rpy="${depth['pose'][3]} ${depth['pose'][4]} ${depth['pose'][5]}"/>
    </xacro:pressure_plugin_macro>
  <!-- </xacro:if> -->

  <!-- IMU  -->
  <!-- TODO: Get imu model from config -->
  <!-- TODO: restore below if when xacro releases 1.14.4 -->
  <!-- <xacro:if value="${'imu' in config}"> -->
    <xacro:property name="imu" value="${config['imu']}"/>
    <xacro:imu_plugin_macro
      namespace="${namespace}"
      imu_suffix=""
      parent_link="${namespace}/origin">
      <origin xyz="${imu['pose'][0]} ${imu['pose'][1]} ${imu['pose'][2]}" 
              rpy="${imu['pose'][3]} ${imu['pose'][4]} ${imu['pose'][5]}"/>
    </xacro:imu_plugin_macro>
  <!-- </xacro:if> -->

  <!-- Pose sensor as ground truth for state estimation -->
  <xacro:default_pose_3d_macro
    namespace="${namespace}"
    parent_link="${namespace}/base_link"
    inertial_reference_frame="${inertial_reference_frame}" />

  <!-- Builds any number of cameras from yaml -->
  <xacro:macro name="cameras_macro" params="namespace cameras">
    <xacro:if value="${cameras != []}">
      <xacro:property name="camera" value="${cameras[0]}"/>

      <!-- Stereo Camera(s) -->
      <xacro:if value="${camera['type'] == 'stereo'}">
        <xacro:stereo_macro
          namespace="${namespace}"
          parent_link="${namespace}/origin" 
          name="${camera['name']}"
          baseline="${camera['baseline']}">
          <origin xyz="${camera['pose'][0]} ${camera['pose'][1]} ${camera['pose'][2]}" 
                  rpy="${camera['pose'][3]} ${camera['pose'][4]} ${camera['pose'][5]}"/>
        </xacro:stereo_macro>
      </xacro:if>

      <!-- Downward Camera -->
      <xacro:unless value="${camera['type'] == 'stereo'}">
        <xacro:if value="${camera['type'] == 'mono'}">
          <xacro:camera_macro
            namespace="${namespace}"
            name="${camera['name']}"
            parent_link="${namespace}/origin">
            <origin xyz="${camera['pose'][0]} ${camera['pose'][1]} ${camera['pose'][2]}" 
                    rpy="${camera['pose'][3]} ${camera['pose'][4]} ${camera['pose'][5]}"/>
          </xacro:camera_macro>
        </xacro:if> 

        <!-- MYNT/ZED Camera -->
        <!-- Suffix isn't set here because right now we just have one, but you should just need to change the suffix for each and it'll work. -->
        <xacro:unless value="${camera['type'] == 'mono'}">
        </xacro:unless>
      </xacro:unless>
      <xacro:cameras_macro namespace="${namespace}" cameras="${cameras[1:]}"/>
    </xacro:if>
  </xacro:macro>

  <xacro:cameras_macro namespace="${namespace}" cameras="${config['cameras']}"/>
</robot>
