<?xml version="1.0"?>
<!-- All coordinates in file must follow ROS conventions: x forward, z up -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <xacro:include filename="$(find riptide_descriptions2)/urdf/snippets.xacro" />
  <xacro:include filename="$(find riptide_descriptions2)/urdf/robot.gazebo.xacro" />

  <xacro:macro name="robot_base"
    params="namespace config inertial_reference_frame">

    <!-- Due to uuv_sim, base_link must be near center of vehicle -->
    <link name="${namespace}/base_link"/>

    <!-- Origin to define all coordinates relative to -->
    <link name="${namespace}/origin">
      <xacro:dummy_inertia/>

      <visual>
        <geometry>
          <mesh filename="${body_file}" scale="1 1 1"/>
        </geometry>
      </visual>

      <collision>
        <geometry>
          <mesh filename="${body_file}" scale="1 1 1"/>
        </geometry>
      </collision>
    </link>
    <joint name="${namespace}/origin_joint" type="fixed">
      <parent link="${namespace}/base_link"/>
      <child link="${namespace}/origin"/>
      <origin xyz="${-config['base_link'][0]} ${-config['base_link'][1]} ${-config['base_link'][2]}" rpy="0 0 0"/>
    </joint>

    <link name="${namespace}/base_inertia">
      <inertial>
        <mass value="${config['mass']}"/>
        <inertia ixx="${config['inertia'][0]}" ixy="0.0" ixz="0.0" 
                 iyy="${config['inertia'][1]}" iyz="0.0" 
                 izz="${config['inertia'][2]}"/>
      </inertial>
    </link>
    <joint name="${namespace}/inertia_joint" type="fixed">
      <parent link="${namespace}/origin"/>
      <child link="${namespace}/base_inertia"/>
      <origin xyz="${config['com'][0]} ${config['com'][1]} ${config['com'][2]}" rpy="0 0 0"/>
    </joint>

    <!-- Set up hydrodynamic plugin -->
    <gazebo>
      <!-- TODO: ADD Buoyancy System -->
      <plugin filename="ignition-gazebo-hydrodynamics-system" name="ignition::gazebo::systems::Hydrodynamics">
          <link_name>${namespace}/base_link</link_name>
          <xacro:property name="lin" value="${config['linear_damping']}"/>
          <xacro:property name="quad" value="${config['quadratic_damping']}"/>

          <xDotU>0</xDotU>
          <yDotV>0</yDotV>
          <zDotW>0</zDotW>
          <kDotP>0</kDotP>
          <mDotQ>0</mDotQ>
          <nDotR>0</nDotR>
          <xUU>${quad[0]}</xUU>
          <xU>${lin[0]}</xU>
          <yVV>${quad[1]}</yVV>
          <yV>${lin[1]}</yV>
          <zWW>${quad[2]}</zWW>
          <zW>${lin[2]}</zW>
          <kPP>${quad[3]}</kPP>
          <kP>${lin[3]}</kP>
          <mQQ>${quad[4]}</mQQ>
          <mQ>${lin[4]}</mQ>
          <nRR>${quad[5]}</nRR>
          <nR>${lin[5]}</nR>
      </plugin>
      <!-- <plugin name="uuv_plugin" filename="libuuv_underwater_object_ros_plugin.so">
        <fluid_density>1000</fluid_density>
        <flow_velocity_topic>hydrodynamics/current_velocity</flow_velocity_topic>
        <debug>$(arg debug)</debug>
        
        <xacro:puddles_hydro_model namespace="$(arg namespace)"/>
      </plugin> -->

    </gazebo>

    <xacro:include filename="$(find riptide_descriptions2)/urdf/robot_sensors.xacro" />
    <xacro:include filename="$(find riptide_descriptions2)/urdf/robot_actuators.xacro" />

  </xacro:macro>

</robot>
